body {
  padding-top: 120px;
  margin:0px;
}

header {
    background: white;
    opacity: .9;
    height: 120px;
    position: fixed;
    top: 0;
    transition: top 0.1s ease-in-out;
    width: 100%;
    border: 1.2px solid rgba(128, 128, 128, 0.29);
    border-right: none;
    border-left: none;
    border-top: none;
    z-index: 200;
}

#tlogo {
    width: 40px;
    margin-bottom: 5px;
}

#blah {
    color: #ffb347;
    height: 120px;
    display: flex;
}

#sub_container {
  font-size: 25px;
  font-family: 'Kalam', cursive;
    font-weight: 300;
  display:flex;
  margin: 0 auto;
}

#resume {
    float: left;
    align-self: center;
    margin-right: 60px;
    cursor: pointer;
    text-decoration: none;
    color: #ffb347;
    font-weight: 500;
}

#biolink {
    align-self: center;
    cursor: pointer;
    text-decoration: none;
    color: #ffb347;
    font-weight: bold;
}

#biolink:hover {
    opacity: .6;
}

#bio {
    float: left;
    align-self: center;
    margin-right: 60px;
    cursor: pointer;
    text-decoration: none;
    color: #ffb347;
    font-weight: 500;
}

#contact {
    float: left;
    align-self: center;
    margin-right: 60px;
    cursor: pointer;
    text-decoration: none;
    color: #ffb347;
    font-weight: 500;
}

#band{
    float: left;
    align-self: center;
    cursor: pointer;
    text-decoration: none;
    color: #ffb347;
    font-weight: 500;
}


#greeting {
  height: 150px;
}
.intro {
    color: #ffb347;
    height:600px;
    justify-content: center;
    font-family: 'Oxygen', sans-serif;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}


#circle {
    align-self: center;
    width: 600;
    height: 600;
    background: white;
    border: 2px solid #ffb347;
    -moz-border-radius: 300px;
    -webkit-border-radius: 300px;
    border-radius: 300px;
    cursor:pointer;
    overflow: hidden;
}

#banner {
  font-size:20px;
  vertical-align: middle;
  text-align:center;

}

#circle:hover + #banner {
  display: block;
}

#my {
    text-align: left;
    font-size: 30px;
    margin: 10px 0px
}

#studying {
    text-align: left;
    font-size: 30px;
    margin-top:15px;
}

#here {
    text-align: left;
    font-size: 22px;
    letter-spacing: .8px;
    word-spacing: 1.2px;
    line-height: 30px;
    font-weight: 100;
    color: black;
}

#bigtitle {
    font-size: 40;
    text-align: -webkit-center;
    margin: 50px 0px;
}

.nav-up {
  top: -121.2px;
}

main {
  background-color:white;
}

.topbarnav:hover {
  opacity:.8;
}

.linkmore {
    font-size: 28px;
    border: solid 2px;
    border-radius: 18px;
    padding: 0px 6px 2px 6px;
    margin: 15px 0px;
}

.formatlink {
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #ffb347;
}

.linkmore:hover {
font-weight:  bold;
opacity:.8;
}

#linkbox {
    margin-top: 40px;
    margin-bottom:40px;
}

@media (min-width: 1140px) { .intro {
  max-width: 970px;
}}

@media (min-width: 992px) {.intro {
  max-width: 970px;
}}

@media (min-width: 768px) {.intro {
  max-width: 750px;
}}



.intro {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}


footer {
  background: white;
}

#footer_text {
  color: #ffb347;
  font-size:20px;
  margin:5px;
  margin-top:35px;
}




.wrapper{
  width:100%;
  position:relative;
  margin:auto 0;
}

img {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.top {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
    
div.top div {
    text-align: center;
    background: #fff;
}
        
    div.top div.first {
        z-index: 1000;
        }       
        
div.top:hover div.first {
    display: none;
    }

    .no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(plane.gif) center no-repeat #fff;
}




#section_title {
    width: 100%;
}


.intro {
    color: #ffb347;
    justify-content: center;
    font-family: 'Oxygen', sans-serif;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

















#circle {
    align-self: center;
    width: 740;
    height: 600;
    background: white;
    border: 4px solid #ffb347;
    -moz-border-radius: 300px;
    -webkit-border-radius: 300px;
    border-radius: 300px;
    display: block;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute; /* this breaks the overflow:hidden in Chrome/Opera */

/* this fixes the overflow:hidden in Chrome */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

#video1 {
    width: 800px;
    margin: auto;
    text-align: center;
}

    
img {
    margin: 0;
    width:100%;
}

#adjuster {
    padding: 0px 0px 50px 50px;
}

main {
    background-color: white;
    height: 1050px;
}
